{% extends "index.html" %}
{% load i18n %}

{% block content %}
    <h1 class="display-4 fw-bold mt-4">{% translate "Labels" %}</h1>
    <a class="nav-link" href="{% url 'labels:create' %}">{% translate "Create label" %}</a>
    <div class="table-responsive">
        <table class="table table-borderless table-striped mt-5 bg-white">
        <thead>
          <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Created at" %}</th>
            <th>{% translate "Actions" %}</th>
          </tr>
        </thead>
        
        <tbody>
        {% for label in label_list %}
            <tr>
            <td>{{ label.id }}</th>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at }}</td>
            <td>
              <a href="{% url 'labels:update' pk=label.id %}">{% translate "Update" %}</a>
              <a href="{% url 'labels:delete' pk=label.id %}">{% translate "Delete" %}</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
