<!doctype html>
<html lang="en">
  {% load static bootstrap4 %}
  <head>
    {% block meta %}{% include "components/meta.html" %}{% endblock %}

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>

  <body>
    <div class="container text-monospace">
      <header class="masthead mb-3">
        <div class="row mb-3">
        <div class="col">
        <h1 class="masthead-brand h3 text-muted">task_manager</h1>

        <nav class="nav nav-masthead">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="nav-link" href="#">Users</a></li>
            <li class="list-inline-item"><a class="nav-link" href="#">Sign In</a></li>
            <li class="list-inline-item"><a class="nav-link" href="#">Register</a></li>
          </ul>
        </nav>

        </div>
        </div>
      </header>
    </div>
  </body>
</html>
