{% load i18n static bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  
<head>
  {% block meta %}{% include "components/meta.html" %}{% endblock %}
  {% bootstrap_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <title>{% block title %}{{ settings.APP_NAME }}{% endblock %}</title>
</head>

<body>
  <header class="masthead">
    {% include 'components/navbar.html' %}
  </header>  
  <main>
  </main>
</body>

</html>
