{% load i18n %}
{% load bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Менеджер задач Hexlet</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "components/navbar.html" %}
      <div class="container wrapper flex-grow-1">
        {% block content %}
        {% endblock %}
      </div>
      {% include "components/footer.html" %}
      </body>
</html>
