{% extends "index.html" %}
{% load i18n %}

{% block content %}
<h1 class="display-4 fw-bold mt-4">{% translate "View task" %}</h1>
<div class="row justify-content-center">
  <div class="col-12 col-md-8">
      <div class="card shadow-sm">
          <div class="card-body row p-5">
            <div class="card-header bg-secondary text-white">
                <h2>{{ object.name }}</h2>
            </div
              class="card-body bg-light col-12 col-md-8 d-flex align-items-center justify-content-center"
              >
              <p>{{ object.description }}</p>
              <p>Creator: {{ object.creator }}</p>
              <p>Executor: {{ object.executor }}</p>
              <p>Created At: {{ object.created_at|date }}</p>
            </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}