{% extends "index.html" %}
{% load i18n %}

{% block content %}
    <h1 class="display-4 fw-bold mt-4">{% translate "Tasks" %}</h1>
    <a class="nav-link" href="{% url 'tasks:create' %}">{% translate "Create task" %}</a>
    {% include './filter.html' %}
    <div class="table-responsive">
      <table class="table table-borderless table-striped mt-5 bg-white">
        <thead>
          <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Status" %}</th>
            <th>{% translate "Author" %}</th>
            <th>{% translate "Executor" %}</th>
            <th>{% translate "Created at" %}</th>
            <th>{% translate "Actions" %}</th>
          </tr>
        </thead>
        
        <tbody>
        {% for task in task_list %}
            <tr>
            <td>{{ task.id }}</th>
            <td>
              <a href="{% url 'tasks:detail' pk=task.id %}">{{ task.name }}</a>
            </td>
            <td>{{ task.status }}</td>
            <td>{{ task.creator }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at }}</td>
            <td>
              <a href="{% url 'tasks:update' pk=task.id %}">{% translate "Update" %}</a>
              <a href="{% url 'tasks:delete' pk=task.id %}">{% translate "Delete" %}</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
