{% extends "index.html" %}
{% load i18n%}

{% block content %}
    <h1 class="display-4 fw-bold mt-4">{% translate "Users" %}</h1>

    <div class="table-responsive">
        <table class="table table-borderless table-striped mt-5 bg-white">
        <thead>
          <tr>
            <th>ID</th>
            <th>{% translate "Username" %}</th>
            <th>{% translate "Full Name" %}</th>
            <th>{% translate "Created at" %}</th>
          </tr>
        </thead>
        
        <tbody>
        {% for user in users_list %}
            <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user }}</td>
            <td>{{ user.time }}</td>
            </tr>
        {% empty %}
            <p>Nothing here =(</p>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
